* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* White background */
    background-image: url("/static/images/background.webp");
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the background fixed during scrolling */
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.profile-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjusted for 8 profiles */
    gap: 20px;
    margin-bottom: 20px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.profile:hover {
    transform: scale(1.1);
}

.avatar {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 5px solid rgb(22, 11, 29); /* Black border for regular profiles */
}

.admin-avatar {
    border-color: rgb(255, 255, 255); /* Golden border for Admin */
}

.profile-name {
    margin-top: 10px;
    font-size: 1.2rem;
}
